@charset "UTF-8";

/* RESET */
/* For basic reset of all pages */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* BASE STYLES */
/* For background image settings, background colour, scrollbar, and font style */
body{
    background-color: #f7e9d0;
    min-height: 62.5rem;
    padding-top: 3.75rem;
}

/* Background image configuration */
.index-body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: background-image 1.6s ease-in-out;
}

/* Scrollbar */
.about-body,
.project-body,
.contact-body{
    overflow: auto;
}

/* Font style */
main{
    font-family: 'Lato', sans-serif;
}

/* NORMAL STYLES */
/* Styling for navigation bar and its contents */
/* Make navigation bar always stay at top and above the contents (z-index) */
/* Shadow below navbar to make it look more 3D */
.header{
    background-color: burlywood;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 5px solid rgb(100, 69, 28);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    z-index: 999;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3.75rem;
    max-width: 75rem;
    padding: 0 1.9rem;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

/* Logo at the navigation bar */
/* Styling of logo, normal, hover and focus states */
.logo{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo-text{
    display: block;
    color: rgb(49, 36, 20); 
}

.logo-text:hover,
.logo-text:focus{
    color: rgb(125, 98, 66);
}

/* Navigation items (About, Projects, Contact us) */
/* Make the list of navigation items flex and adding a gap between them */
.nav-list{
    display: flex;
    column-gap: 2.5rem;
}

/* Styling of the links, colour and smooth transition */
.nav-link{
    color: grey;
    font-size: 1rem;
    transition: all 0.4s;
    position: relative;
}

/* When hover, text become white colour */
.nav-link:hover,
.nav-link:focus{
    color: white;
}

/* Add underline effect to under the navigation items, styling the underline */
.nav-link:after{
    content: '';
    height: 0.2rem;
    width: 100%;
    background-color: rgb(162, 121, 68);
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
}

/* Smooth transition for underline hover style */
.nav-link:hover::after{
    opacity: 1;
}

/* Contact us button on the navigation bar */
/* Styling the button (font size, colour, button shape) */
.nav-contactbtn{
    color: white;
    font-weight: 500;
    background-color: #307362;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1.2rem;
    border-radius: 62.5rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    transition: all 0.2s;
}

/* Change button background colour when hover */
.nav-contactbtn:hover{
    background-color: #a0c1b9;
}

/* Landing page (index.html) */
.index-container{
    text-align: center;
    padding-top: 15rem;
    font-family: 'Lato', sans-serif;
    text-shadow: white 0px 0px 10px;
}

/* Styling of title, description and button */
.main-title{
    padding-bottom: 1.5rem;
    font-size: 4.8em;
}

.main-description{
    padding-bottom: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.3em;
}

.main-explorebtn{
    color: white;
    background-color: #307362;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem 4.4rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    transition: all 0.2s;
}

/* Changing background colour of button when hover */
.main-explorebtn:hover{
    background-color: #a0c1b9;
}

/* About page (about.html) */
/* Aligning and styling title, and align the contents of the page */
.about-title{
    text-align: center;
    padding-top: 3.125rem;
    font-size: 2em;
    display: block;
}

.about-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

/* Content of about.html page (image and texts) */
.columns{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

/* ALigning the topic, contents and iamge */
.column-topic{
    font-size: 2.3em;
    margin-bottom: 4%;
}

.column-content{
    margin-bottom: 20%;
}

.columns img{
    max-width: 100%;
}

/* Projects page (project.html) */
/* Change alignment and positioning of title */
.project-title{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

/* Make content on project.html flex and align them on the page */
.project-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

/* Content of project.html page (image and texts, 3 blocks, image scaling and opacity when hover) */
.project-content h1{
    margin-top: 1rem;
}

.project-content p{
    margin: 5%;
}
        
.project-content img{
    width:100%;
    height:auto;
    height:12.5rem;
    object-fit: cover;
}

/* Aligning the div blocks and styling it (background colour, size) */
.project-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:25rem;
    min-width:18rem;
    margin: 0.625rem;
    text-align: center;
    background-color: aliceblue;
}

/* Change opacity and cursor when hover */
.project-content:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* When hover on the image, increase size */
.project-content img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/* Contact us page (contact.html) */
/* Contact title styling and alignment */
.contact-title{
    text-align: center;
    padding-top: 2.8215rem;
    font-size: 2em;
    padding-bottom: 0.3125rem;
    display: block;
}

/* Making whole contact.html body flex and setting the alignment */
.contact-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling contents of 2 columns (Contact information and join us form) */
/* Includes styling of image, contact information, submit button) */
.split{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

/* Styling image, rounded border, black border and arrangement */
.split img{
    max-width: 100%;
    border-radius: 5000px;
    max-height: 100%;
    border: 2px solid black;
}

.split-profilepic{
    display: flex;
    justify-content: center;
    height: 40%;
}

/* Styling title so it does not make contact with the content below */
.split-topic{
    font-size: 2.3em;
    margin-bottom: 4%;
}

/* Aligning forms on the page */
.split-form{
    margin-left: 2rem;
}

.split-info{
    padding-top: 2%;
}

.info{
    text-align: center;
}

/* Styling of input boxes, when pressed, input box will have black border */
input[type=text],
input[type=email]{
    background-color: #e6edf0;
    color: black;
    padding: 2%;
    width: 80%;
    border-radius: 0.5rem;
    border-color: #f9d495;
}

/* Placeholder text inside text box colour */
::placeholder{
    color: grey;
}

/* Submit button at contact.html, background of button, button text style */
.submit-button{
    width: 100%;
    background-color: #307362;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 500;
    border-radius: 10rem;
    padding: 0.5rem 1.2rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    transition: all 0.2s;
    border-style: none;
}

/* Change button style when hover, background colour and cursor to pointer */
.submit-button:hover{
    background-color: #a0c1b9;
    cursor: pointer;
}

/* Footer styling (on about.html, project.html, contact.html) */
/* Includes styling of social media logos */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(99, 66, 24);
    box-shadow: 0 -2px 6px 0 rgba(0,0,0,.2);
    color: white;
    text-align: center;
    height: 2.5rem;
}

.footer-info{
    padding-top: 0.125rem;
}

/* Adjust size of the social media logos */
.fa{  
    padding: 0.3125rem;  
    text-align: center;  
    margin: 0.3125rem 1rem;  
    font-size: 1.875em;  
    width: 3.125rem;  
}  

/* Colour of social media logos */
.fa-facebook,
.fa-instagram,
.fa-twitter{
    color: burlywood;
    opacity: 0.5;
}

/* Change in social media logos colour when hover */
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover{
    color: burlywood;
    opacity: 1;
}

/* MEDIA QUERIES */
/* For mobile phone */
@media (max-width: 576px){

    /* Navigation bar, adjust to fit in mobile view */
    .header-content{
        flex-direction: column;
        padding: 1.6rem 0;
        row-gap: 1.2rem;
        align-items: center;
    }

    .nav-list{
        column-gap: 1.25rem;
    }

    /* Index page, change page alignment along with title and description */
    .index-container{
        text-align: center;
        padding-top: 15rem;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }
    
    .main-title{
        padding-bottom: 1.25rem;
        font-size: 4.2rem;
    }
    
    .main-description{
        padding-bottom: 1.25rem;
        font-size: 1rem;
    }

    /* About page, change title size and arrangement, adjust image and text position */
    .about-title{
        margin-top: 3.75rem;
        text-align: center;
        padding-left: 1rem;
        padding-bottom: 0.625rem;
        font-size: 2rem;
    }

    .columns{
        flex-basis: 100%;
        flex: 1 90%;
        flex-grow: 0;
    }

    /* Project page, change project title size and adjust div block arrangement */
    .project-body{
        min-height: 112rem;
    }

    .project-title{
        margin-top: 9%;
        margin-right: 18%;
        padding-top: 3rem;
        padding-bottom: 1rem;
        margin-left: 5.4rem;
    }

    /* Contact page, changing title size and alignment */
    .contact-title{
        padding-top: 3.125rem;
        padding-bottom: 1.25rem;
        margin-top: 3.75rem;
        text-align: center;
        padding-left: 1rem;
        font-size: 2rem;
    }

    /* Contact page, change arrangement of contact information and form */
    .split{
        flex-basis: 100%;
        flex: 1 80%;
        flex-grow: 0;
        padding-top: 0;
    }

    .split-info{
        padding-bottom: 4.375rem;
    }

    .split-form{
        padding-bottom: 4.375rem;
    }
}

/* For tablet */
@media (min-width: 576px) and (max-width: 768px){

    /* Project page, to arrange and fit div blocks in tablet size */
    .project-title{
        padding-top: 1.875rem;
        padding-left: 1rem;
        font-size: 2em;
        padding-bottom: 2.625rem;
    }
}